{% extends template.self %}

{% block faq_header_brand %}
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/marc-loupias-4aa71491" data-format="click" data-related="false" data-text="Marc Loupias"></script>
{% endblock %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://github.com/MarcLoupias/memo-dev" target="_blank">Github</a></li>
    <li><a href="http://cv.marc-loupias.fr" target="_blank">CV</a></li>
</ul>
{% endblock %}